<div class="grid" style="background-image: url('assets/img/background.jpg');">
    <app-search></app-search>
    <app-grid class="col-md-12 "></app-grid>
    <button [hidden]="!isScrolled" type="button" class="btn buttonFilter totop" (click)="top()">To top</button>
</div>