<div class="about" style="background-image: url('assets/img/background.jpg');">
    <h3>About Us</h3>
    <div class="description">
        <h5>
            What is Gnome Game?
        </h5>
        <p>
            Gnome game is a fantasy game where you can travel around this world and met different cities which habitants are mithologic characters.
        </p>
        <h5>
            Why this page?
        </h5>
        <p>
            This system give you information about the habitants of this game and allow you to know all abouts the habitants and their characteristics
        </p>
        <h5>
            Author
        </h5>
        <p>
            Devoto Federico
        </p>
    </div>
</div>