.filterContainer {
    width: 100vw;
    text-align: center;
    padding-top: 3%;
}

.searchContain input {
    width: 40%;
    background-color: black;
    border: 1px solid #458a93;
    color: white;
    border-right: 0px;
    padding: 1%;
}

.searchContain input:focus,
.searchContain input:hover {
    outline: none;
    border-color: #781c1f;
    transition: all 0.3s ease;
}

.searchContain button {
    background-color: #458a93;
    border: 1px solid #458a93;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1%;
}

.searchContain button:hover {
    background-color: #781c1f;
    border: 1px solid #781c1f;
}

.filters {
    width: 50%;
    margin: 2% auto;
}

.filters .row {
    padding: 1%;
}

.filters .row h5 {
    color: white;
}

.filters select {
    background-color: black;
    border: 1px solid #458a93;
    color: white;
    padding: 1%;
}


/*******************************************************/


/************ RESPONSIVE  ******************/


/*  Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    .searchContain input,
    .filters {
        width: 90%;
        ;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .filters h5 {
        display: none;
    }
}