/*  Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    app-home .grid {
        width: 100vw;
        margin-left: 0px;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {}


/*Large devices (desktops, 992px and up)*/

@media (max-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (max-width: 1200px) {}