/* You can add global styles to this file, and also import other style files */

.grid {
    min-height: 90vh !important;
}

* {
    overflow-x: hidden;
}

h5,
h3,
div {
    overflow: hidden;
}

.buttonFilter {
    background-color: #458a93;
    border: 1px solid #458a93;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5% 3%;
    color: white;
    margin: 1%;
}

.buttonFilter:hover {
    background-color: #781c1f;
    transition: all 0.3s ease;
}

.totop {
    position: fixed;
    right: 2%;
    bottom: 1%;
}